# Fetch Reward DA Exercise
Question #3 : Detecting data issue (null/missing value, duplicate and data inconsistency)
<br>
Author: Chengwu Weng
<br>
Date: 8/26/2021

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
data_users = pd.read_csv('users.csv')
data_receipts = pd.read_csv('receipts.csv')
data_brands = pd.read_csv('brands.csv')
data_rewardsReceiptItemList = pd.read_csv('rewardsReceiptItemList.csv')

# Data Issue


*** 
I found mainly three data issues: null value, duplicate value & data inconsistency.
<br>

***

## Null Value

In [4]:
data_users.isna().sum()

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

In [5]:
data_receipts.isna().sum()

_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

In [6]:
data_brands.isna().sum()

_id               0
barcode           0
category        155
categoryCode    650
cpg               0
name              0
topBrand        612
cpg_id            0
cpg_ref           0
brandCode       269
dtype: int64

In [7]:
data_rewardsReceiptItemList.isna().sum()

preventTargetGapPoints                6583
pointsPayerId                         5674
userFlaggedDescription                6787
itemPrice                              174
originalMetaBriteQuantityPurchased    6926
pointsNotAwardedReason                6601
barcode                               3851
needsFetchReviewReason                6722
originalMetaBriteDescription          6931
userFlaggedBarcode                    6604
metabriteCampaignId                   6078
partnerItemId                            0
userFlaggedQuantity                   6642
originalFinalPrice                    6932
pointsEarned                          6014
quantityPurchased                      174
originalMetaBriteBarcode              6917
priceAfterCoupon                      5985
userFlaggedNewItem                    6618
competitorRewardsGroup                6666
receiptid                                0
rewardsGroup                          5210
discountedItemPrice                   1172
originalMetaBriteItemPrice            6932
itemNumber                            6788
targetPrice                           6563
needsFetchReview                      6128
description                            381
finalPrice                             174
deleted                               6932
userFlaggedPrice                      6642
competitiveProduct                    6296
originalReceiptItemText               1181
brandCode                             4341
rewardsProductPartnerId               4672
dtype: int64

## Duplicate Value

### Users


*** 
**One row should represent one users.**
<br>
However, in the table of `Users`, there are `209` duplicates out of total rows of 413 except 82 fetch test staff. 

***

In [8]:
print('total value of duplicate in all user id', data_users['_id'].duplicated().sum())
user_con = data_users[data_users.role != 'fetch-staff' ]
print('total value of duplicate in consumer user id', user_con['_id'].duplicated().sum())

total value of duplicate in all user id 283
total value of duplicate in consumer user id 209

In [9]:
user_con[user_con._id.duplicated()].head(5)

,_id,active,createdDate,lastLogin,role,signUpSource,state
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 07:24:04.800000,2021-01-03 07:25:37.858000,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 07:24:04.800000,2021-01-03 07:25:37.858000,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 07:24:04.800000,2021-01-03 07:25:37.858000,consumer,Email,WI
5,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 07:24:04.800000,2021-01-03 07:25:37.858000,consumer,Email,WI
8,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 07:24:04.800000,2021-01-03 07:25:37.858000,consumer,Email,WI

### Brands


*** 
**Same barcode is for same product.**
<br>
However, in the table of `Brands`, one barcode has two different category as well as brand names.

Our program website can be found at <a href="http://earthdatascience.org" target="_blank">this link</a>.

***

In [10]:
data_brands._id.duplicated().sum()

0

In [11]:
data_brands[data_brands.barcode.duplicated()].head(2)

,_id,barcode,category,categoryCode,cpg,name,topBrand,cpg_id,cpg_ref,brandCode
299,5a8c33f3e4b07f0a2dac8943,511111504139,Grocery,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5a734034e4b0...",Pace,False,5a734034e4b0d58f376be874,Cogs,PACE
412,5ccb2ece166eb31bbbadccbe,511111504788,Condiments & Sauces,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",The Pioneer Woman,NaN,559c2234e4b06aca36af13c6,Cogs,PIONEER WOMAN

In [12]:
data_brands[data_brands.barcode == '511111504139']

Empty DataFrame
Columns: [_id, barcode, category, categoryCode, cpg, name, topBrand, cpg_id, cpg_ref, brandCode]
Index: []

### Receipts & Reward Receipt Item List


*** 
**One receipt should have one or many different items.**
<br><br>
However, there are many same items in one receipt with the same attributes in rewardsReceiptItemList like barcode, description & quantityPurchased etc.
<br><br>
The meaning behind it is too vague to understand. We cannot tell it if a user purchased many same items or just duplicates issue. But if someone purchased many same products, we should use the attribute of quantityPurchased to represent it instead of using duplicates.


***

In [13]:
data_receipts['_id'].duplicated().sum()

0

In [14]:
data_rewardsReceiptItemList['receiptid'].duplicated().sum()

6262

In [15]:
data_receipts.rewardsReceiptItemList[12] # with receipt id = '5ff1e1b60a7214ada100055c' and barcode = '034100573065'

"[{'barcode': '034100573065', 'description': 'MILLER LITE 24 PACK 12OZ CAN', 'finalPrice': '29', 'itemPrice': '29', 'partnerItemId': '1', 'pointsEarned': '870.0', 'pointsPayerId': '5332f709e4b03c9a25efd0f1', 'quantityPurchased': 1, 'rewardsGroup': 'MILLER LITE 24 PACK', 'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1', 'targetPrice': '77', 'receiptid': '5ff1e1b60a7214ada100055c'}, {'barcode': '034100573065', 'description': 'MILLER LITE 24 PACK 12OZ CAN', 'finalPrice': '29', 'itemPrice': '29', 'partnerItemId': '2', 'pointsEarned': '870.0', 'pointsPayerId': '5332f709e4b03c9a25efd0f1', 'quantityPurchased': 1, 'rewardsGroup': 'MILLER LITE 24 PACK', 'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1', 'targetPrice': '77', 'receiptid': '5ff1e1b60a7214ada100055c'}, {'barcode': '034100573065', 'description': 'MILLER LITE 24 PACK 12OZ CAN', 'finalPrice': '29', 'itemPrice': '29', 'partnerItemId': '3', 'pointsEarned': '870.0', 'pointsPayerId': '5332f709e4b03c9a25efd0f1', 'quantityPurchased': 1, 'rewardsGroup': 'MILLER LITE 24 PACK', 'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1', 'targetPrice': '77', 'receiptid': '5ff1e1b60a7214ada100055c'}, {'barcode': '034100573065', 'description': 'MILLER LITE 24 PACK 12OZ CAN', 'finalPrice': '29', 'itemPrice': '29', 'partnerItemId': '4', 'pointsEarned': '870.0', 'pointsPayerId': '5332f709e4b03c9a25efd0f1', 'quantityPurchased': 1, 'rewardsGroup': 'MILLER LITE 24 PACK', 'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1', 'targetPrice': '77', 'receiptid': '5ff1e1b60a7214ada100055c'}, {'barcode': '034100573065', 'description': 'MILLER LITE 24 PACK 12OZ CAN', 'finalPrice': '29', 'itemPrice': '29', 'partnerItemId': '5', 'pointsEarned': '870.0', 'pointsPayerId': '5332f709e4b03c9a25efd0f1', 'quantityPurchased': 1, 'rewardsGroup': 'MILLER LITE 24 PACK', 'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1', 'targetPrice': '77', 'receiptid': '5ff1e1b60a7214ada100055c'}, {'barcode': '034100573065', 'description': 'MILLER LITE 24 PACK 12OZ CAN', 'finalPrice': '29', 'itemPrice': '29', 'partnerItemId': '6', 'pointsEarned': '870.0', 'pointsPayerId': '5332f709e4b03c9a25efd0f1', 'quantityPurchased': 1, 'rewardsGroup': 'MILLER LITE 24 PACK', 'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1', 'targetPrice': '77', 'receiptid': '5ff1e1b60a7214ada100055c'}, {'barcode': '034100573065', 'description': 'MILLER LITE 24 PACK 12OZ CAN', 'finalPrice': '29', 'itemPrice': '29', 'partnerItemId': '7', 'pointsEarned': '870.0', 'pointsPayerId': '5332f709e4b03c9a25efd0f1', 'quantityPurchased': 1, 'rewardsGroup': 'MILLER LITE 24 PACK', 'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1', 'targetPrice': '77', 'receiptid': '5ff1e1b60a7214ada100055c'}, {'barcode': '034100573065', 'description': 'MILLER LITE 24 PACK 12OZ CAN', 'finalPrice': '29', 'itemPrice': '29', 'partnerItemId': '8', 'pointsEarned': '870.0', 'pointsPayerId': '5332f709e4b03c9a25efd0f1', 'quantityPurchased': 1, 'rewardsGroup': 'MILLER LITE 24 PACK', 'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1', 'targetPrice': '77', 'receiptid': '5ff1e1b60a7214ada100055c'}, {'barcode': '034100573065', 'description': 'MILLER LITE 24 PACK 12OZ CAN', 'finalPrice': '29', 'itemPrice': '29', 'partnerItemId': '9', 'pointsEarned': '870.0', 'pointsPayerId': '5332f709e4b03c9a25efd0f1', 'quantityPurchased': 1, 'rewardsGroup': 'MILLER LITE 24 PACK', 'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1', 'targetPrice': '77', 'receiptid': '5ff1e1b60a7214ada100055c'}, {'barcode': '034100573065', 'description': 'MILLER LITE 24 PACK 12OZ CAN', 'finalPrice': '29', 'itemPrice': '29', 'partnerItemId': '10', 'pointsEarned': '870.0', 'pointsPayerId': '5332f709e4b03c9a25efd0f1', 'quantityPurchased': 1, 'rewardsGroup': 'MILLER LITE 24 PACK', 'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1', 'targetPrice': '77', 'receiptid': '5ff1e1b60a7214ada100055c'}]"

## Inconsistency between user in receipts and users


*** 
**Users in receipts should be included in users table**
<br>
However, there is user inconsistency, meaning that users in receipts table are more than users in users table.
<br>

***

In [16]:
receipts_customers = data_receipts['userId'].unique().tolist()

In [17]:
users_customers = user_con['_id'].unique().tolist() # only include consumer users

In [18]:
len(receipts_customers) - len(users_customers)

54

In [19]:
# print users in receipt but not in user
for customer in receipts_customers:
    if customer not in users_customers:
        print(customer)

5f9c74f7c88c1415cbddb839
5ff1e1e9b6a9d73a3a9f10f6
5ff1e1dfcfcf6c399c274ab3
5f9c74e3f1937815bd2c1d73
5ff1e196cfcf6c399c274a38
54943462e4b07e684157a532
5ff36d78135e7011bcb86488
5964eb07e4b03efd0c0f267b
5c3388caea88e15513a95069
5ff37124135e7011bcb86bc3
5fbc35711d967d1222cbfefc
5ff473f3c1e2d0121a9b2707
5ff4ce68c1e2d0121a9b3022
5fa5ad376a26f611e71ab5ef
5ff4ce65c3d63511e2a4853b
5ff4ce3cc1e2d0121a9b2fba
5ff5d19b8f142f11dd188696
5ff73be5eb7c7d31ca8a45a7
5ff7741e04929111f6e90902
5ff79459b3348b11c933736d
5ff75004b3348b11c9336bd6
5ff73be9eb7c7d31ca8a45bc
5ff7946004929111f6e90ceb
5ff726a38f142f11dd1895dc
5ff8da4e04929111f6e91462
5ff8da7c04929111f6e914de
5ff8da65b3348b11c9337b29
5ff8da62b3348b11c9337b21
5fa5b0b720dc5111dd86dcc1
5ff8c88604929111f6e913b7
5ff873d304929111f6e91096
5ffc98b604929111f6e923f5
5ffc9d8cb3348b11c9338927
5ffc9da0b3348b11c9338951
5ffc8cc104929111f6e922a3
5ffcb4b9b3348b11c9338ae7
5ffca2f3b3348b11c9338a10
5ffc92a104929111f6e923cb
5ffcb48d04929111f6e92594
5ffc9d9d04929111f6e9244f
5ffc9d9cb3348b11c933893f
5ffc8cb304929111f6e9229d
5ffcb4b8b3348b11c9338ae1
59c124bae4b0299e55b0f330
5fff2698b3348b03eb45bb10
5fff561abd4dff11dda8fa2b
5fff4c7d61ffa811fdb0856f
6000b884fb296c121a81ad3b
6000d4aafb296c121a81b27e
6000d4b5fb296c121a81b2bd
5e56d38507a0df22a15dfc85
5fa32b4d898c7a11a6bcebce
6007423b6e6469120a787c2c
6006f1c5e257127d5d9aedfb
60088d5cb6310511daa4ee6f
6008412f6e64697abedcd5d5
600861d3be5fc9247bab3e0c
600887a5b6310511daa4e9a7
60088d58633aab121bb8e424
60088838633aab121bb8df69
5cd06f1f2acf0a2667da628b
60088af5633aab121bb8e31b
60088aff633aab121bb8e33d
6009f6927d983a124e9adaad
6009fd1550b33111943850b1
6009969150b33111fd61f6d9
600b349550b3311194385600
600b2d7a50b33111943855cb
600afb2a7d983a124e9aded0
600a1a457d983a124e9adb9b
600b41d050b3311194385655
600af8097d983a124e9adeb3
600b39ce50b331119438562a
600b00687d983a124e9adef9
600a1ddf50b33111943851a2
600ba68e7d983a124e9ae1d3
600ed95043298911ce45e82c
600f489d6fd0dc1768a35a88
600f014d4329897eac238b88
60118beaa4b74c18d3a8c0f8
6010bdf673c60b120490404e
6010be18a4b74c120bd19e43
5fa8d542b055fd1dfdf09517
6010be1c73c60b1204904079
60118c09a4b74c18d3a8c12e
5fa8d573770b516dda4f4d21
5fa41775898c7a11a6bcef3e
6012e1e6a4b74c3cbc516088
600f29a64329897eac239049
60132b8873c60b3ca7f3bae8
6014436084231211ce793ced
60147a84c8b50e11d8453f29
5fc961c3b8cfca11a077dd33
60145a5467804a1228b20ded
60145a5167804a1228b20ddd
6014554a67804a1228b20ca9
6014558284231211ce796b88
601441a984231211ce792603
6014435467804a1228b1dcaf
601836c2c8b50e11d8454b58
601830cdc8b50e11d8454a6f
60182f1dc8b50e11d84548c4
601890689a1b091205b61c87
60183c839a1b091205b61aca
601830ce9a1b091205b618e8
601836829a1b091205b6194d
601890b2c8b50e11d8454e82
60189c92c8b50e11d8454f5d
5fb1bd519c09d811e5211cef
60189c90c8b50e11d8454f49
5fb2da582357ec11d4ecc403
542ace60e4b0b3d724922499
601aaebde409201029849b3c
601c68ce29c30a1227ada468
601ead00b57b8a12187fce78
6021768799409b11fcf8987f
54ca99a9e4b0b11b4f7d6dc5
602401f1c081001222409ad6
60245433efa60112282c1859
6024291f58b989121e6bad5f
60253861efa6017a44dc6b50
60253891b54593795bf69242
60268c7bb545931ac63683af
60268c78efa6011bb151077d